/* path/to/your/style.css */
/* font Playfair Display per i titoli e Raleway per i testi */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary-color: #ff651c;
    --primary-color:rgb(59, 124, 243);
    --dark-color: #373737;
    --light-color: #fff;
    --main-bg: black; /* Sfondo principale nero */
    --main-bg2: rgba(255, 255, 255, 0.1); /* Sfondo secondario traslucido */
    --light2-color: rgba(255, 255, 255, 0.8); /* Bianco con 80% opacità */
}

* {
    box-sizing: border-box;
}

.giuseppe{
    color:#f7f2f2 !important;
}
body {
    overflow-x: hidden;
    margin: 0;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    color: #f7f2f2 !important; /*testo chiaro*/

    color: #beb5b5!important; /* Colore del testo bianco */
    background-color: var(--main-bg) !important; /* Sfondo nero */
}

.fixed-header .main-header {
    background: var(--light2-color);
    backdrop-filter: blur(10px);
    box-shadow: 0 0.125rem 0.25rem rgba(55, 55, 55, 0.7);
}

h4, h1, h2, h3, h5, p {
    font-family: "Playfair Display", serif;
    color: #f7f2f2 !important; /*testo chiaro*/
}

a:hover {
    color: #cb612f;
    text-decoration: none;
}

.text-primaryy {
    color: var(--primary-color) !important;
    letter-spacing: 5px;
    position: relative;
}

.text-primaryy:after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 2px;
    background-color: var(--primary-color);
    transition: ease all 0.3s;
}

.text-primaryy:hover {
    color: var(--primary-color);
}

.text-primaryy:hover:after {
    left: 0;
    width: 100%;
}

.main-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 11;
    background: transparent;
    transition: 0.3s background ease;
}

.navbar {
    background-color: var(--main-bg2) !important; /* Sfondo navbar traslucido */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
    background: transparent;
}

.main-header .navbar-nav > li {
    margin: 0 10px;
}

.main-header .navbar-nav > li > .nav-link {
    padding: 0 5px;
    line-height: 35px;
    font-weight: 600;
    font-size: 14px;
    color: var(--primary-color);
    letter-spacing: 4px;
    position: relative;
}

.main-header .navbar-nav > li > .nav-link:hover {
    color: var(--primary-color);
}

.colored-btn {
    max-width: 100%;
    padding: 0.25em 0.5em !important;
    border: 2px solid var(--primary-color);
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 2px;
    text-decoration: none;
    transition: ease all 0.3s;
    display: inline-block;
    background-color: var(--primary-color);
    color: #fff;
    box-shadow: 4px 4px 0 -1px var(--dark-color);
}

.colored-btn:hover {
    color: #f7f2f2 !important;
    background-color: var(--dark-color);
    border-color: var(--dark-color);
    box-shadow: 4px 4px 0 -1px var(--primary-color);
}

/* MAIN about me */
.about-me {
    text-align: center;
    padding: 20px;
    background-color: var(--main-bg2); /* Sfondo secondario */
}

.about-text {
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    color: #fff; /* Testo bianco */
    margin-top: 20px;
}

/* forma parallelogramma */
.hero {
    margin: 2rem calc(50% - 50vw);
    height: 40vw;
    clip-path: polygon(0 20%, 100% 0, 100% 80%, 0 100%);
}

.hero img {
    display: block;
    width: auto;
    height: 100%;
    object-fit: cover;
    object-position: top;
    box-shadow: 0 2.5rem 2.5rem rgba(55, 55, 55, 0.7);
}

/**/


.sezioni {
    background-color: rgba(0, 0, 0, 0.85) !important; /* Sfondo nero con maggiore opacità */
    border-radius: 10px; /* Angoli arrotondati */
    padding: 20px; /* Padding interno */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5); /* Ombra per effetto gloss */
    backdrop-filter: blur(10px); /* Sfondo sfocato per effetto gloss */
    border: 1px solid rgba(255, 255, 255, 0.1); /* Bordo leggero per migliorare l'effetto gloss */
}

.nav-link {
    color: #fff; /* Colore del testo bianco */
    transition: color 0.3s ease; /* Transizione per il colore al passaggio del mouse */
    font-weight: 500; /* Peso del font per uniformità */
}

.nav-link:hover {
    color: var(--primary-color); /* Cambia colore al passaggio del mouse */
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.5); /* Aggiungi un'ombra al testo al passaggio del mouse */
}

.carousel{
    box-shadow: 0 4px 20px rgba(255, 251, 251, 0.9); /* Ombra per effetto gloss */
}